#navbar-section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 3rem;
  /* border-style: solid; */
  /* border-color: white; */
  color: white;

}

#navbar-section a {
  color: inherit;
  text-decoration: none;
}

#navbar-section a:visited {
  color: inherit;
}

#navbar-section a:hover {
  text-decoration: underline;
}

.name {
  font-size: 3rem;
}

.project-image {
  width: 15rem;
}


.project-image:hover {
  opacity: 0.5;
  transition: 0.5s ease;
}

.project-individual {
  text-decoration: none;
  /* border-style: solid; */
  /* border-color: black; */
  padding: 1rem;
  margin: 1rem;
}

#project-individual a {
  color: inherit;
  text-decoration: none;
  opacity: 1.0;
}

#project-individual a:visited {
  color: inherit;
}

#project-individual a:hover {
  text-decoration: underline;
  opacity: 0.5;
  transition: 0.5s ease-in;
}

.projects-section {
  /* border-style: solid; */
  /* border-color: red; */
  /* display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-bottom: 10rem; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 0.25rem;
  width: 100%;
  grid-auto-rows: 1fr;


}

.resume-link {
  padding: 2rem;
  margin-bottom: 1rem;
}

body {
  background-color: #98a6d4;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.header {
  /* border-style: solid; */
  /* border-color: white; */
  padding: 3rem;
}

h1 {

  color: #44344f;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

h2,
h3,
p {
  color: #44344f;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.headshot {
  border-radius: 50%;
  border-color: #ade060;
  border-style: solid;
  border-width: 1rem;
  width: 25%;
}

.input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.message-input {
  height: 10rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.contact-form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 2rem;
  background-color: #c9d5fc;
  padding: 2rem;
  margin-bottom: 2rem;
  ;
  border-radius: 10%;
}

.contact-button {
  /* background-color: #c2f970; */
  background-color: #ade060;
  margin: 1rem;
  padding: 0.25rem;
  border-radius: 5px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.contact-icons {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin-top: 1rem;
}

.icon {
  padding: 2rem;
}

.about-blurb {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 40rem; */
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.about-me-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#odd-jobs a {
  color: inherit;
  text-decoration: none;
}

#odd-jobs a:visited {
  color: inherit;
}

#odd-jobs a:hover {
  text-decoration: underline;
}

/*Google Font Styles Below---
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1b2a41;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */